<a href="https://colab.research.google.com/github/RodrigoEslava/Ms_project/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning
In this colab I'll test the efficiency of Lightgbm and Xgboot, using the proteome data

# Libraries/ Modules

In [110]:
#Libraries/ Modules

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import  cross_val_score
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# Opening Data

In [111]:
#opening data

df_1 = pd.read_csv("vectors_input_ml.txt", header = None, sep = " ")
df_1 = pd.DataFrame(data = df_1)

df_1

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,114787,375519,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.679890,0.202166,1.085294,-0.354643,0.080082,1
1,114787,285613,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.307974,0.250093,1.434479,0.158018,-0.232124,1
2,114787,7448,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.514870,0.199525,0.751447,-0.191767,-0.486657,1
3,114787,4914,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.014077,0.967554,0.793498,-0.690786,-0.263792,1
4,114787,51343,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.103214,0.444202,0.831132,-0.484471,-0.458331,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431217,90737,339855,0.200750,0.274724,0.624510,-0.899938,-0.511145,0.749858,0.652715,1.418007,-1.384832,0.797590,0
1431218,310,4325,0.155255,0.308197,0.719711,-0.669243,-0.473170,1.183004,-0.403156,1.681676,0.731652,-1.112852,0
1431219,6585,8079,0.513246,0.247140,2.436578,-0.277446,0.693172,-0.133098,0.461254,0.817654,-0.528891,-0.963959,0
1431220,4881,63899,1.374483,0.561892,0.210898,-0.872078,-0.151804,0.797217,1.371346,-0.179053,-1.365025,-1.160668,0
1431221,55556,8226,2.373171,1.818255,1.237502,-0.562256,0.822018,0.588964,2.098053,1.497819,-1.468737,0.985457,0

# Separating the values ​​of X and Y

In [123]:
# Separating the values ​​of X and Y

X = df_1[df_1.columns[2:12]]
Y = df_1[df_1.columns[12:]]

X

,2,3,4,5,6,7,8,9,10,11
0,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.679890,0.202166,1.085294,-0.354643,0.080082
1,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.307974,0.250093,1.434479,0.158018,-0.232124
2,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.514870,0.199525,0.751447,-0.191767,-0.486657
3,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.014077,0.967554,0.793498,-0.690786,-0.263792
4,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.103214,0.444202,0.831132,-0.484471,-0.458331
...,...,...,...,...,...,...,...,...,...,...
1431217,0.200750,0.274724,0.624510,-0.899938,-0.511145,0.749858,0.652715,1.418007,-1.384832,0.797590
1431218,0.155255,0.308197,0.719711,-0.669243,-0.473170,1.183004,-0.403156,1.681676,0.731652,-1.112852
1431219,0.513246,0.247140,2.436578,-0.277446,0.693172,-0.133098,0.461254,0.817654,-0.528891,-0.963959
1431220,1.374483,0.561892,0.210898,-0.872078,-0.151804,0.797217,1.371346,-0.179053,-1.365025,-1.160668
1431221,2.373171,1.818255,1.237502,-0.562256,0.822018,0.588964,2.098053,1.497819,-1.468737,0.985457

In [124]:
Y

         12
0         1
1         1
2         1
3         1
4         1
...      ..
1431217   0
1431218   0
1431219   0
1431220   0
1431221   0

[1431222 rows x 1 columns]

# Separating the training data and test data

In [ ]:
# Separating the training data and test data

X_training, X_test, Y_training, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 7)

# Lightgbm