<a href="https://colab.research.google.com/github/RodrigoEslava/Ms_project/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning
In this colab I'll test the efficiency of Lightgbm and Xgboot, using the proteome data

# Libraries/ Modules

In [126]:
#Libraries/ Modules

import pandas as pd
import numpy as np
from pandas import Series, DataFrame

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import  cross_val_score
from sklearn import metrics

import lightgbm as lgb
import xgboost as xgb

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# Opening Data

In [127]:
#opening data

df_1 = pd.read_csv("vectors_input_ml.txt", header = None, sep = " ")
df_1 = pd.DataFrame(data = df_1)

df_1

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,114787,375519,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.679890,0.202166,1.085294,-0.354643,0.080082,1
1,114787,285613,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.307974,0.250093,1.434479,0.158018,-0.232124,1
2,114787,7448,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.514870,0.199525,0.751447,-0.191767,-0.486657,1
3,114787,4914,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.014077,0.967554,0.793498,-0.690786,-0.263792,1
4,114787,51343,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.103214,0.444202,0.831132,-0.484471,-0.458331,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431217,90737,339855,0.200750,0.274724,0.624510,-0.899938,-0.511145,0.749858,0.652715,1.418007,-1.384832,0.797590,0
1431218,310,4325,0.155255,0.308197,0.719711,-0.669243,-0.473170,1.183004,-0.403156,1.681676,0.731652,-1.112852,0
1431219,6585,8079,0.513246,0.247140,2.436578,-0.277446,0.693172,-0.133098,0.461254,0.817654,-0.528891,-0.963959,0
1431220,4881,63899,1.374483,0.561892,0.210898,-0.872078,-0.151804,0.797217,1.371346,-0.179053,-1.365025,-1.160668,0
1431221,55556,8226,2.373171,1.818255,1.237502,-0.562256,0.822018,0.588964,2.098053,1.497819,-1.468737,0.985457,0

# Separating the values ​​of X and Y

In [128]:
# Separating the values ​​of X and Y

X = df_1[df_1.columns[2:12]]
Y = df_1[df_1.columns[12:]]

X

,2,3,4,5,6,7,8,9,10,11
0,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.679890,0.202166,1.085294,-0.354643,0.080082
1,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.307974,0.250093,1.434479,0.158018,-0.232124
2,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.514870,0.199525,0.751447,-0.191767,-0.486657
3,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.014077,0.967554,0.793498,-0.690786,-0.263792
4,0.778164,0.475622,0.715792,-0.251704,-0.150356,0.103214,0.444202,0.831132,-0.484471,-0.458331
...,...,...,...,...,...,...,...,...,...,...
1431217,0.200750,0.274724,0.624510,-0.899938,-0.511145,0.749858,0.652715,1.418007,-1.384832,0.797590
1431218,0.155255,0.308197,0.719711,-0.669243,-0.473170,1.183004,-0.403156,1.681676,0.731652,-1.112852
1431219,0.513246,0.247140,2.436578,-0.277446,0.693172,-0.133098,0.461254,0.817654,-0.528891,-0.963959
1431220,1.374483,0.561892,0.210898,-0.872078,-0.151804,0.797217,1.371346,-0.179053,-1.365025,-1.160668
1431221,2.373171,1.818255,1.237502,-0.562256,0.822018,0.588964,2.098053,1.497819,-1.468737,0.985457

In [129]:
Y

         12
0         1
1         1
2         1
3         1
4         1
...      ..
1431217   0
1431218   0
1431219   0
1431220   0
1431221   0

[1431222 rows x 1 columns]

# Separating the training data and test data

In [ ]:
# Separating the training data and test data

X_training, X_test, Y_training, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 7)

# Lightgbm

In [136]:
#defining values to folds
num_folds = 30
seed = 7

kf = KFold(n_splits=num_folds, shuffle = True, random_state=seed)

In [139]:
#building the model

model_lgbm = lgb.LGBMRegressor()
#model_lgbm = lgb.LGBMClassier()



result = cross_val_score(model_lgbm, X, Y, cv = kf)
 
print("Acurácia Final:%.3f%%" % (result.mean() * 100.00))

Acurácia Final:43.575%

In [142]:
#building the model


model_lgbm_c = lgb.LGBMClassifier()



result = cross_val_score(model_lgbm, X, Y, cv = kf)
 
print("Acurácia Final:%.3f%%" % (result.mean() * 100.00))

Acurácia Final:43.575%

# Tuning

In [143]:
model_lgbm_t = lgb.LGBMRegressor(max_depth=2)



result = cross_val_score(model_lgbm_t, X, Y, cv = kf)
 
print("Acurácia Final:%.3f%%" % (result.mean() * 100.00))

Acurácia Final:29.640%

In [145]:

model_lgbm_t = lgb.LGBMClassifier(max_depth=2)



result = cross_val_score(model_lgbm_t, X, Y, cv = kf)
 
print("Acurácia Final:%.3f%%" % (result.mean() * 100.00))

Acurácia Final:74.519%

# Bagging

In [ ]:
model_lgbm_rf = lgb.LGBMRegressor(boosting_type='rf', bagging_freq=1, bagging_fraction=0.8)




result = cross_val_score(model_lgbm_rf, X, Y, cv = kf)
 
print("Acurácia Final:%.3f%%" % (result.mean() * 100.00))

In [ ]:
model_lgbm_rf = lgb.LGBMClassifier(boosting_type='rf', bagging_freq=1, bagging_fraction=0.8)




result = cross_val_score(model_lgbm_rf, X, Y, cv = kf)
 
print("Acurácia Final:%.3f%%" % (result.mean() * 100.00))

# Dart

In [146]:
model_lgbm_d = lgb.LGBMRegressor(boosting_type='dart')




result = cross_val_score(model_lgbm_d, X, Y, cv = kf)
 
print("Acurácia Final:%.3f%%" % (result.mean() * 100.00))

Acurácia Final:37.949%

In [147]:
model_lgbm_d = lgb.LGBMClassifier(boosting_type='dart')




result = cross_val_score(model_lgbm_d, X, Y, cv = kf)
 
print("Acurácia Final:%.3f%%" % (result.mean() * 100.00))

Acurácia Final:78.698%

# Fit

In [153]:
model_lgbm_d.fit(X,Y)

LGBMClassifier(boosting_type='dart')

In [154]:
predict_link = model_lgbm_d.predict(X)

predict_link[:10]

array([1, 1, 1, 1, 1, 0, 1, 1, 1, 1])

In [165]:
y = [Y[:10]]

In [166]:
(predict_link == y).sum()

7403800

In [167]:
len(Y)

1431222

# XGBoost

In [ ]:
dtrain = xgb.DMatrix(data = X, label = Y)

param = {'max_depth':5,'eta':1,'objective': 'binary:logistic'}
num_round = 2

print('running cross validation')
# do cross validation, this will print result out as
# [iteration]  metric_name:mean_value+std_value
# std_value is standard deviation of the metric
xgb.cv(param, dtrain, num_round, nfold=5,
       metrics={'error'}, seed=0,
       callbacks=[xgb.callback.EvaluationMonitor(show_stdv=True)])


print('running cross validation, disable standard deviation display')
# do cross validation, this will print result out as
# [iteration]  metric_name:mean_value
res = xgb.cv(param, dtrain, num_boost_round=10, nfold=5,
             metrics={'error'}, seed=0,
             callbacks=[xgb.callback.EvaluationMonitor(show_stdv=False),
                        xgb.callback.EarlyStopping(3)])

print(res)
print('running cross validation, with preprocessing function')
# define the preprocessing function
# used to return the preprocessed training, test data, and parameter
# we can use this to do weight rescale, etc.
# as a example, we try to set scale_pos_weight
def fpreproc(dtrain, dtest, param):
    label = dtrain.get_label()
    ratio = float(np.sum(label == 0)) / np.sum(label == 1)
    param['scale_pos_weight'] = ratio
    return (dtrain, dtest, param)

# do cross validation, for each fold
# the dtrain, dtest, param will be passed into fpreproc
# then the return value of fpreproc will be used to generate
# results of that fold
xgb.cv(param, dtrain, num_round, nfold=5,
       metrics={'auc'}, seed=0, fpreproc=fpreproc)